<div id="about">
  <div class="col-wrapper">
    <div class="col four tile">
      <div class="icon selected" tab-button="1">
        <div class="img icon-1"></div>
      </div>
      <div class="title">Communication</div>
      <p>Je travaille en coopération avec les hôpitaux de Dax et Bayonne ainsi que les spécialistes de Capbreton à Saint Vincent de Tyrosse pour mieux répondre aux urgences et assurer une pleine efficacité.</p>
    </div>
    <div class="col four tile">
      <div class="icon" tab-button="2">
        <div class="img icon-2"></div>
      </div>
      <div class="title">Education</div>
      <ul>
        <li>Diplome de medecin généraliste<br>de l'Universite de Reims</li>
        <li>Diplome de medecin: MD in USA</li>
        <li>Diplome de l'Institut Européen de<br>Physionutrition de Nice</li>
        <li>Master de pharmacologie de l'Université de Reims</li>
        <li>Diplome Universitaire de Nutrition de Rennes</li>
      </ul>
    </div>
    <div class="col four tile">
      <div class="icon" tab-button="3">
        <div class="img icon-3"></div>
      </div>
      <div class="title">Valeurs</div>
      <p>Respect de lindividu, confidentialité des diagnostiques et prescriptions, efficacité et rapidité de la réponse téléphonique faite en personne par le Médecin Traitant.</p>
    </div>
  </div>
  <div class="tab-sections">
    <div class="tab tab-1">
      <div class="title">Objectif</div>
      <p>Je travaille en coopération avec les hôpitaux de Dax et Bayonne ainsi que les spécialistes de Capbreton à Saint Vincent de Tyrosse pour mieux répondre aux urgences et assurer une pleine efficacité.</p>
    </div>
    <div class="tab tab-2">
      <div class="title">Education</div>
      <ul>
        <li>Diplome de medecin généraliste<br>de l'Universite de Reims</li>
        <li>Diplome de medecin: MD in USA</li>
        <li>Diplome de l'Institut Européen de<br>Physionutrition de Nice</li>
        <li>Master de pharmacologie de l'Université de Reims</li>
        <li>Diplome Universitaire de Nutrition de Rennes</li>
      </ul>
    </div>
    <div class="tab tab-3">
      <div class="title">Valeurs</div>
      <p>Respect de lindividu, confidentialité des diagnostiques et prescriptions, efficacité et rapidité de la réponse téléphonique faite en personne par le Médecin Traitant.</p>
    </div>
  </div>
</div>