<div id="footer">
  <div class="col-wrapper">
    <div class="col four copywrite-col">
      <h4>Dr. Valerie Besset</h4>
      <span>&copy; 2024</span>
      <p>Paiements: chèques ou espèces.<br>Carte vitale, conventionne secteur 1 pour la médecine générale, honoraires libres pour la Nutrition. Consultation à distance me contacter sur valeriebesset@gmail.com</p>
    </div>
    <div class="col four nav-col">
      <ul>
        <!-- <li><a class="smoothscroll" href="#accueil">ACCUEIL</a></li> -->
        <!-- <li><a class="smoothscroll" href="#info">INFO</a></li> -->
        <!-- <li><a class="smoothscroll" href="#horaires">HORAIRES</a></li> -->
        <li><a class="smoothscroll" href="#photo">PHOTO</a></li>
        <li><a class="smoothscroll" href="#services">SERVICES</a></li>
      </ul>
    </div>
    <!-- <div class="col four buttons-col">
      <a href="https://valeriebesset.setmore.com/">RENDEZ-VOUS</a>
      <a href="tel:+0659800544">+06 59 80 05 44</a>
    </div> -->
  </div>
</div>

<div id="miniml">
  <a target="_blank" href="http://miniml.co"><img src="/assets/images/miniml.svg"></a>
</div>
