<div id="hero">
  <div class="overlay abs-center"></div>
  <div class="fixed-nav">
    <a href="." class="brand">
      <img src="/assets/images/logo.svg">
    </a>
    <ul>
      <li><a class="smoothscroll" href="#accueil">ACCUEIL</a></li>
      <li><a class="smoothscroll" href="#info">INFO</a></li>
      <li><a class="smoothscroll" href="#horaires">HORAIRES</a></li>
      <li><a class="smoothscroll" href="#services">SERVICES</a></li>
      <li><a class="smoothscroll" target="_blank" href="https://valeriebesset.blogspot.com/">BLOG</a></li>
    </ul>
  </div>
  <div class="inner-panel">
    <h1>Dr. Valerie Besset</h1>
    <h3>Médecine Générale</h3>
    <div class="button-row">
      <a target="_blank" href="https://valeriebesset.setmore.com/">RENDEZ-VOUS</a>
      <a class="no-margin" href="tel:0659800544">06 59 80 05 44</a>
    </div>
  </div>
</div>