<div id="hero" data-stellar-background-ratio="0.5">
  <div class="overlay abs-center"></div>
  <div class="fixed-nav">
    <a href="." class="brand">
      <img src="/assets/images/logo.svg">
    </a>
    <ul>
      <li><a class="ripple-btn smoothscroll" href="#accueil">ACCUEIL</a></li>
      <li><a class="ripple-btn smoothscroll" href="#info">INFO</a></li>
      <li><a class="ripple-btn smoothscroll" href="#horaires">HORAIRES</a></li>
      <li><a class="ripple-btn smoothscroll" href="#photo">PHOTO</a></li>
      <li><a class="ripple-btn smoothscroll" href="#services">SERVICES</a></li>
    </ul>
  </div>
  <div class="inner-panel">
    <h1>Dr. Valerie Besset</h1>
    <h3>Médecine Générale</h3>
    <div class="button-row">
      <a class="ripple-btn" href="https://valeriebesset.setmore.com/">RENDEZ-VOUS</a>
      <a class="ripple-btn no-margin" href="tel:0558493054">05 58 49 30 54</a>
    </div>
  </div>
</div>