<div id="horaires">
  <div class="main-layout">
    <h2 class="section-heading">Nos Horaires</h2>
    <div class="col-wrapper schedule">
      <div class="col eight image-col">
        <div class="js-tilt"></div>
      </div>
      <div class="col four">
        <div class="times-col">
          <div class="item">
          <h4>Avec rendez-vous</h4>
          <ul>
            <li>Lundi</li>
            <li>Mardi</li>
            <li>Mercredi</li>
            <li>Jeudi</li>
            <li>Vendredi</li>
            <li>Samedi</li>
            <li>Dimanche</li>
          </ul>
          <ul id="google-hours">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>