<div id="info">
  <div class="col-wrapper">
    <div class="col five info-col">
      <h2 class="section-heading">Contact</h2>
      <div class="details">
        <div class="item">
          <h4>Adresse</h4>
          <a target="_blank" href="https://www.google.com/maps/place/RDV+en+ligne-Cabinet+Medical+Docteur+Besset+Valerie/@43.689354,-1.3579038,15z">
            8 Jardin de la Belette<br>
            3270 Avenue Charles de Gaulle<br>
            40510 Seignosse, France
          </a>
        </div>
        <div class="item">
          <h4>Email</h4>
          <a href="mailto:bonjour@valeriebesset.com">
            bonjour@valeriebesset.com
          </a>
        </div>
        <div class="item no-margin">
          <h4>Téléphone</h4>
          <a href="tel:+05 58 49 30 54">+05 58 49 30 54</a><br>
          <a href="tel:+06 59 80 05 44">+06 59 80 05 44</a>
        </div>
      </div>
    </div>
    <div class="col seven map-col">
      <div id="map"></div>
      <a href="https://www.google.com/maps/place/RDV+en+ligne-Cabinet+Medical+Docteur+Besset+Valerie/@43.689354,-1.3579038,15z" class="map-button">ouvrir le plan</a>
    </div>
  </div>
</div>