<div id="photo">
  <div class="col-wrapper image-slider owl-theme">
    <a href="/assets/images/gallery/1.jpg" data-lightbox="album" class="col four item photos-1"></a>
    <a href="/assets/images/gallery/2.jpg" data-lightbox="album" class="col four item photos-2"></a>
    <a href="/assets/images/gallery/3.jpg" data-lightbox="album" class="col four item photos-3"></a>
    <a href="/assets/images/gallery/4.jpg" data-lightbox="album" class="col four item photos-4"></a>
    <a href="/assets/images/gallery/5.jpg" data-lightbox="album" class="col four item photos-5"></a>
    <a href="/assets/images/gallery/6.jpg" data-lightbox="album" class="col four item photos-6"></a>
    <a href="/assets/images/gallery/7.jpg" data-lightbox="album" class="col four item photos-7"></a>
    <a href="/assets/images/gallery/8.jpg" data-lightbox="album" class="col four item photos-8"></a>
    <a href="/assets/images/gallery/9.jpg" data-lightbox="album" class="col four item photos-9"></a>
  </div>
</div>