<div id="services">
  <h2 class="section-heading">Nos Services</h2>
  <div class="col-wrapper services-grid">
    <div class="col four item">
      <h4>Medecine General et nutrition</h4>
      <p>Pathologie aigue ou chronique, diabète, pre diabète, Insulino-resistance maladie cardio vasculaire, syndrome métabolique, maladie degenerative et de système. Inflammation à bas bruit, hypothyroïdie fruste. Bilan vitaminique et métaux.</p>
    </div>
    <div class="col four item">
      <h4>Diététique</h4>
      <p>Amaigrissement, Jeun intermittent, Rééquilibrage des troubles hormonaux. Prescription de Phytotherapie et micro éléments. Detoxification, réadaptation au sport. Diete cétogene, compulsion alimentaire. Bilan calorique et impedancemetrie.</p>
    </div>
    <div class="col four item no-margin">
      <h4>Gynecologie</h4>
      <p>Suivi gynécologique généraliste pour contraception, grossesse et ménopause.</p>
    </div>

    <div class="col four item">
      <h4>Micronutrition</h4>
      <p>Etudes des états: acides/bases, inflammatoires, oxydatifs, fatigue chroniques et immunitaire. Suivi de cancer et accompagnement en addictologie. Syndrome de mal absorption: SIBO, candidose, hyperpermeabilite intestinale, MICI, SII. Vieillissement, glaucome, peau. Bilan fecalogramme, Helicobactere pilori, maladie de lyme.</p>
    </div>
    <div class="col four item no-margin">
      <h4>Pratiques professionnelles</h4>
      <p>
        Consultation de médecine générale<br>
        DU nutrition et micro nutrition<br>
        Action de santé publique<br>
        Tiers payant ALD/CMU/CSS/AME/AT/MP<br>
        Mode de paiement: chèques, espèces, virements<br>
        Accès handicapés<br>
        Soins Non Programmés<br>
        Français / English
      </p>
    </div>
    <div class="col four item">
      <h4>Télé-consultation</h4>
      <p>Consultation à distance par vidéo sécurisée et messagerie sécurisée. sur Rdv et remboursée par la sécurité sociale.</p>
    </div>
  </div>
</div>