<div id="services">
  <h2 class="section-heading">Nos Services</h2>
  <div class="col-wrapper services-grid">
    <div class="col four item">
      <h4>Medecine General</h4>
      <p>Médecine chronique et aigue du nouveau né à la personne agée. Accueil des personnes à mobilité réduite. Visite à domicile et en maison de retraite.</p>
    </div>
    <div class="col four item">
      <h4>Urgence</h4>
      <p>Traumatologie, entorse, fractures, méningites, appendicites. Infarctus du myocarde, embolie pulmonaire, pancréatite, pyelonéphrite, cholécystite. Sutures et attelles.</p>
    </div>
    <div class="col four item no-margin">
      <h4>Gynecologie</h4>
      <p>Suivi gynécologique généraliste pour contraception, grossesse et ménopause.</p>
    </div>
    <div class="col four item">
      <h4>Télé-consultation</h4>
      <p>Consultation à distance par vidéo sécurisée et messagerie sécurisée. sur Rdv et remboursée par la sécurité sociale.</p>
    </div>
    <div class="col four item">
      <h4>Micronutrition</h4>
      <p>Etudes des états: acides/bases, inflammatoires, oxydatifs, fatigue chroniques et immunitaire. Phytotherapie et micro éléments. Amaigrissement et reprise de confiance.</p>
    </div>
    <div class="col four item no-margin">
      <h4>Ayurveda</h4>
      <p>L'Ayurveda enseigne les habitudes de vie qui aligne votre rythme individuel ou vos fonctions physiologiques avec le rythme cyclique de la nature. Traitement par les plantes et la yoga-thérapie.</p>
    </div>
  </div>
</div>