<div id="testimonials">
  <div class="main-layout">
    <h2 class="section-heading">Ce Qu’ils Disent</h2>
    <div class="quote-slider owl-carousel owl-theme">
      <div class="item">
        <div class="portrait alibert"></div>
        <p>"Le docteur Besset allie médecine moderne et médecine traditionnelle indienne. Un médecin qui a des solutions à proposer en parallèle des médicaments. Une personne à l'écoute, attentive et bienveillante."</p>
        <div>- Charlotte Alibert</div>
      </div>
      <div class="item">
        <div class="portrait avatar"></div>
        <p>"Docteur Besset est très proffessionelle et passe le temps qu'il faudra pour arriver un a un diagnostique concluant"</p>
        <div>- Stéphanie Castandet</div>
      </div>
      <div class="item">
        <div class="portrait avatar"></div>
        <p>"Quand on reprend plaisir a aller chez le médecin.un médecin consciencieux qui ausculte encore ses patients avec un excellent diagnostique, et de surcroit d une grande humanité."</p>
        <div>- Christophe Osmond</div>
      </div>
      <div class="item">
        <div class="portrait avatar"></div>
        <p>"En vacances à Seignosse à proximité du cabinet... pris 2 rdv sur le site de rdv en ligne, très pratique. Elle est très sympathique, prend le temps avec Les patients, douce avec les enfants... je recommande"</p>
        <div>- Audrey Staud</div>
      </div>
    </div>
  </div>
</div>