* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.col-wrapper {
  font-size: 0;
  .col {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;  
  }
  .one    { width: 8.3333333333%;  }
  .two    { width: 16.6666666666;  }
  .three  { width: 24.9999999999%; }
  .four   { width: 33.3333333332%; }
  .five   { width: 41.6666666665%; }
  .six    { width: 49.9999999998%; }
  .seven  { width: 58.3333333331%; }
  .eight  { width: 66.6666666664%; }
  .nine   { width: 74.9999999997%; }
  .ten    { width: 83.333333333%;  }
  .eleven { width: 91.6666666663%; }
  .twelve { width: 100%;           }
}
.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  color: #7f8e9a;
  color: #7f8e9a;
}
h1 {
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 300;
}
h2 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  	color: #001e36;
  &:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    bottom: -20px;
    left: 0;
    background: #2196f3;
  }
}
h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  color: #001e36;
}
h4 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  color: #001e36;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.lightbox {
  .lb-image {
    border: none;
  }
  .lb-details {
    font-family: Montserrat;
  }
  .lb-close {
    display: none;
  }
  .lb-image {
    border-radius: 0;
  }
}
.main-layout {
  max-width: 1200px;
  margin: auto;
}
