#horaires {
  padding-top: 100px;
  padding-bottom: 175px;
  background-color: #f7f9fa;
  h2 {
    text-align: center;
    &:after {
      right: 0;
      margin: auto;
    }
  }
  .schedule {
    margin-top: 123px;
    padding: 0 5%;
    .image-col {
      vertical-align: top;
      .js-tilt {
        width: 589px;
        height: 442px;
        background-image: url(/assets/images/waiting-room.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
      }
    }
    .times-col {
      margin-top: 100px;
      .item {
        margin-bottom: 50px;
        h4 {
          margin-bottom: 20px;
        }
        p, ul {
          font-family: Montserrat;
          font-size: 14px;
          line-height: 1.57;
        }
        ul {
          display: inline-block;
          list-style: none;
        }
        ul:last-child {
          margin-left: 50px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}