#info {
  position: relative;
  .info-col {
    background: white;
    padding: 100px 6% 160px 6%;
    .details {
      margin-top: 123px;
      .item {
        margin-bottom: 50px;
        h4 {
          margin-bottom: 20px;
        }
        a {
          font-family: Montserrat;
          font-size: 14px;
          line-height: 1.57;
          color: inherit;
          text-decoration: none;
          transition: all .23s ease;
          &:hover {
            color: #2196f3;
          }
        }
      }
      .no-margin {
        margin-bottom: 0;
      }
    }
  }
  .map-col {
    position: relative;
    #map {
      width: 100%;
    }
    .map-button {
      display: none;
      width: 300px;
      height: 50px;
      border-radius: 100px;
      background-color: #2196f3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-transform: uppercase;
      line-height: 50px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        background-color: #2185d4;
      }
    }
  }
}